@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer utilities {
  .arrow {
    width: 6px;
    height: 6px;
    border-left: 6px solid white;
    border-top: 6px solid white;
  }
  .text {
    font-size: 40px;
    color: red;
  }
  .hover:hover {
    cursor: pointer;
    background-color: #4f4f4f;
  }
  .line {
    border-top: 1px;
    border-color: #4f4f4f;
    width: 100%;
  }
  .header-font {
    /* font-family: 'Freight Text Pro', sans-serif; */
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .content-font {
    /* font-family: 'Freight Text Pro', sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .parent:hover .child {
    display: flex;
    transform: translate3d(0, 0, 0);
    animation: exit_bottom_to_top 0.5s ease-in-out;
  }
  .cart_list:hover .child {
    display: flex;
    animation: cart_list 0.3s ease-in-out;
  }
  .child {
    display: none;
  }
  .navbar_link_exit {
    animation: identifier 0.2s ease-in-out;
  }
  .title {
    font-size: 16px;
    color: #231f20;
    font-weight: 700;
  }
 
  .button_hover {
    transition: background-color 0.5s ease;
  }
  .cart_notification {
    animation:cart_notification_in 0.3s ease-in-out;
  }
  @keyframes cart_list {
    0% {
      transform: scale(0%);
      }
      100% {
      transform: scale(100%);
    }
    
  }
  @keyframes cart_notification_in {
    0% {
      transform: translateX(280px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes exit_bottom_to_top {
    0% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes exit_top_to_bottom {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes identifier {
    0% {
      /* transform: translateY(0%); */
      transform: scale(0);
    }
    100% {
      /* transform: translateY(50%); */
      transform: scale(1);
    }
  }
  @layer flex {
    .col_center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .row_center {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
